<div class="body">
<div id="kalkulator">
    <div id="display">{{ display }}</div>
    <div id="buttons">
        <button (click)="toDisplay('+')" class="btn">+</button>
        <button (click)="toDisplay('7')">7</button>
        <button (click)="toDisplay('8')">8</button>
        <button (click)="toDisplay('9')">9</button>
        <button (click)="toDisplay('-')" class="btn">-</button>
        <button (click)="toDisplay('4')">4</button>
        <button (click)="toDisplay('5')">5</button>
        <button (click)="toDisplay('6')">6</button>
        <button (click)="toDisplay('*')" class="btn">*</button>
        <button (click)="toDisplay('1')">1</button>
        <button (click)="toDisplay('2')">2</button>
        <button (click)="toDisplay('3')">3</button>
        <button (click)="toDisplay('/')" class="btn">/</button>
        <button (click)="toDisplay('0')">0</button>
        <button (click)="toDisplay('.')">.</button>
        <button (click)="math()">=</button>
        <button (click)="clear()" class="btn">C</button>
    </div>
</div>
</div>